@using Mictlanix.BE.Model
@using Mictlanix.BE

@model PaymentMethodOption

<div class="modal-header">
    <button type='button' class='close' data-dismiss='modal'>&times;</button>
    <h3>@Resources.PaymentMethod</h3>
</div>
<div class="modal-body">
    @using (Ajax.BeginForm("Delete", "charges", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "charge-modal-content" }, new { @class = "modal-form" }))
    {
        <div class="form-horizontal">
            @Html.DisplayForModel()
        </div>
    }
</div>
<div class="modal-footer">
    <button type='button' class='btn btn-default' data-dismiss='modal'>@Resources.Discard</button>
    <button type='submit' class='btn btn-danger' onclick='$("#charge-modal form").submit();'>@Resources.Delete</button>

</div>
