@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model Address

<div style='overflow:hidden'>
	@Html.DisplayForModel()
</div>
<div class="action-buttons">
	<button type="button" class="cancel">@Resources.Close</button>
</div>
<script type="text/javascript">
bindCloseDialog(".cancel");
</script>