[submodule "CFDLib"]
	path = CFDLib
	url = git@github.com:mictlanix/cfdlib.git
[submodule "DiverzaClient"]
	path = DiverzaClient
	url = git@github.com:mictlanix/diverza-client.git
[submodule "FiscoClicClient"]
	path = FiscoClicClient
	url = git@github.com:mictlanix/fiscoclick-client.git
