Packages
Photos
CFDs
Web/Content/fonts/*
*/bin
*/obj
*.suo
*.userprefs
*.pidb
*.user
*.resources
*.Publish.xml
*.pfx
*.cs-e
MictlanixBE.config
dataprint.png
tinbox.png
eyeco.png
acabados.png
bodega.png
distribuidora.png
fabrica.png
ferreteria.png
fortaleza.png
tienda.png
.gitignore
.vs/
jsreport.Client/
Web/Controllers/Mvc/QuotationsControllerBK.cs
Model/SalesQuoteBk.cs
Model/SalesQuoteDetailBk.cs
Web/Views/QuotationsBk/
[Dd]esktop.ini
