<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wserviceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.facturacionmexico.com.mx/pac/index.php"
                binding="basicHttpBinding" bindingConfiguration="wserviceBinding"
                contract="wservicePortType" name="wservicePort" />
        </client>
    </system.serviceModel>
</configuration>