@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model IEnumerable<TaxpayerBatch>

@{
    var CurrentUser = Html.CurrentUser() ?? new User();
}

<table>
    <tr>
        <th>@Html.LabelFor(x => new TaxpayerBatch().Batch)</th>
        <th>@Html.LabelFor(x => new TaxpayerBatch().Type)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="center">@Html.DisplayFor(x => item.Batch)</td>
        <td class="center">@item.Type.GetDisplayName()</td>
    </tr>
}

</table>
