@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model TaxpayerIssuer
<fieldset>
    <legend>@Resources.Title_Taxpayer</legend>

    <div class="form-horizontal">
        @Html.DisplayForModel()
    </div>
</fieldset>
