@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model IEnumerable<Taxpayer>

@{
    ViewBag.Title = Resources.Title_Taxpayer;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Taxpayers);
}

<h2>@Resources.DisplayName_Taxpayers</h2>

<p>
@if(Privilege.AllowCreate) {
    @Html.ActionLink(Resources.CreateNew, "Create", new { }, new { @class = "button icon add open-modal", data_modal_id = "taxpayer-modal" })
}
</p>
<div id='taxpayers' data-url='@Url.Action("Index")'>
@Html.Partial("_Index")
</div>