@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model Product

<div class='modal-header'>
	<button type='button' class='close' data-dismiss='modal'>&times;</button>
	<h3>@Resources.Product</h3>
</div>
<div class='modal-body'>
@using (Ajax.BeginForm(null, null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "product-modal-content" }, new { @class = "modal-form" })) {
	<div class="form-horizontal">
		@Html.DisplayForModel()
	</div>
}
</div>
<div class='modal-footer'>
	<button type='button' class='btn btn-default' data-dismiss='modal'>@Resources.Discard</button>
	<button type='submit' class='btn btn-danger' onclick='$("#product-modal form").submit();'>@Resources.Delete</button>
</div>