@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model Dictionary<Label, bool>

@{
	int product = Convert.ToInt32 (ViewContext.RouteData.Values["id"]);
}

@foreach (var item in Model) {
	if (item.Value) {
	<li><a class='post-data' href='@Url.Action("RemoveLabel", new { id = product, value = item.Key.Id })'><i class="icon-ok"></i> @Html.DisplayFor(x => item.Key.Name)</a></li>
	} else {
	<li><a class='post-data' href='@Url.Action("AddLabel", new { id = product, value = item.Key.Id })'><i class="icon-"></i> @Html.DisplayFor(x => item.Key.Name)</a></li>
	}
}
<script type="text/javascript">
$('a.post-data').on('click', function(e) {
	e.preventDefault();
	var self = $(this);
    $.post(this.href, function (data) {
        $('#labels-@product').html(data);
    });
});
</script>