@model Business.Essentials.Model.Supplier

@{
    ViewBag.Title = Business.Essentials.Resources.Delete;
}

<h2>@Business.Essentials.Resources.Delete</h2>

<h3>No se pudo borrar el elemento porque existen dependencias en el sistema hacia él.</h3>

<p>
    @Html.ActionLink(Business.Essentials.Resources.BackToList, "Index")
</p>
