<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IsTaxIncluded" value="false" />
    <add key="CashierPaymentOptions" value="Cash,DebitCard,CreditCard,Check,EFT,ElectronicPurse,Giving" />
    <add key="PaymentMethodsVerificationRequired" value="EFT,CreditCard" />
    <add key="PaymentMethodsForRefund" value="Cash, EFT" />
    <add key="DefaultCurrency" value="MXN" />
  </appSettings>
</configuration>
