@using Business.Essentials

@{
    ViewBag.Title = Resources.InvalidPointOfSale;
}

<h2>@Resources.InvalidPointOfSale</h2>
<p>@Resources.Message_InvalidPointOfSale</p>
<p>@Html.ActionLink(Business.Essentials.Resources.BackToList, "Index")</p>