@using Business.Essentials
@model Business.Essentials.Model.Supplier

@{
    ViewBag.Title = Resources.CreateNew;
}

<h2>@Resources.Create</h2>

@Html.Partial("_Create")

<div>
    @Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })
</div>