@model Business.Essentials.Model.Supplier

@{
    ViewBag.Title = Business.Essentials.Resources.CreateNew;
}

<h2>@Business.Essentials.Resources.Create</h2>

@Html.Partial("_Create")

<div>
    @Html.ActionLink(Business.Essentials.Resources.BackToList, "Index")
</div>