@model Boolean?

@if(Model == null) {
	<div>@Html.CheckBox("", new { style = "float:left;margin:3px 3px 0 0" }) @Html.LabelFor(x => x)</div>
} else {
	<div>@Html.CheckBox("", Model.Value, new { style = "float:left;margin:3px 3px 0 0" }) @Html.LabelFor(x => x)</div>
}