@using Business.Essentials

@{
    ViewBag.Title = Resources.Title_Home;
}

<p class="center">
    <img src="@Url.Content("~/Content/images/welcome.png")"
         alt="@Resources.Welcome"
         style="margin:100px 0;"/>
</p>