@{
    ViewBag.Title = @Business.Essentials.Resources.Title_ChangePassword;
}

<h2>@Business.Essentials.Resources.DisplayName_ChangePassword</h2>
<p>
    @Business.Essentials.Resources.Message_ChangePasswordSuccess
</p>
