@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@model CustomerTaxpayer

@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "taxpayerDlg" })) {
    @Html.ValidationSummary(true)
	<div style='overflow:hidden'>
		@Html.EditorForModel()
	</div>
	<div class="action-buttons">
		<button type="button" class="cancel">@Resources.Discard</button>
		<button type="submit" class="icon save">@Resources.Save</button>
	</div>
}
<script type="text/javascript">
$('#Id').attr('readonly', true);
$('#Name').focus();
bindCloseDialog(".cancel");
</script>