@using Mictlanix.BE
@model System.String

<h2>@Resources.Succes</h2>
<p>@Model</p>
<div class="action-buttons">
	<button type="button" class="cancel">@Resources.Close</button>
</div>
<script type="text/javascript">
bindCloseDialog(".cancel");
</script>