@using Mictlanix.BE

@{
    ViewBag.Title = Resources.InvalidPointOfSale;
}

<h2>@Resources.InvalidPointOfSale</h2>
<p>@Resources.Message_InvalidPointOfSale</p>
<p>@Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })</p>