@using Mictlanix.BE

@{
    ViewBag.Title = Resources.InvalidExchangeRate;
}

<h2>@Resources.InvalidExchangeRate</h2>
<p>@Resources.Message_InvalidExchangeRate</p>
<p>@Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })</p>