@using Mictlanix.BE
@{
    ViewBag.Title = Resources.InvalidStore;
}
<h2>@Resources.InvalidStore</h2>
<p>@Resources.Message_InvalidStore</p>
<div class="pull-right">
    @Html.ActionLink(Resources.LocalSettings, "LocalSettings", "Account", new { }, new { @class = "button icon configuration" })
</div>
<div class='clearfix'></div>