
@font-face {
    font-family: 'Wasabi-Book';
    src: url('wasabi-bk-webfont.eot');
    src: url('wasabi-bk-webfont.eot?#iefix') format('embedded-opentype'),
         url('wasabi-bk-webfont.woff') format('woff'),
         url('wasabi-bk-webfont.ttf') format('truetype'),
         url('wasabi-bk-webfont.svg#wasabibook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wasabi-Light';
    src: url('wasabi-lt-webfont.eot');
    src: url('wasabi-lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('wasabi-lt-webfont.woff') format('woff'),
         url('wasabi-lt-webfont.ttf') format('truetype'),
         url('wasabi-lt-webfont.svg#wasabilight') format('svg');
    font-weight: normal;
    font-style: normal;
}