<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="ApplicationTitle" value="Mictlanix BE - Company Name" />
	<add key="LogoTitle" value="Company Name" />
	<add key="LogoAlt" value="Company Branch" />
	<add key="Company" value="Ferretería Ramos" />
	<add key="CompanyAddress" value="Av. 16 de Septiembre No. 78,Barrio San Miguel, C. P. 55620, San Juan Zitlaltepec, Zumpango, Estado de México, México" />
	<add key="CompanyTaxpayer" value="R.F.C. RAGM600610LJ2" />
	<add key="CompanyTaxpayerName" value="Margarito Eliseo Ramos Godinez" />
	<add key="PromissoryNoteContent" value="Por este PAGARÉ, yo {0} prometo incondicionalmente pagar a la orden de el Sr. Margarito Eliseo Ramos Godinez, la cantidad de {1} el día {2}. Obligándome a pagar para el caso de mora un interés equivalente al ____ mensual durante todo el tiempo que permanezca insoluto." />
</appSettings>