@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model IEnumerable<SalesOrder>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "search-results", LoadingElementId = "activity-indicator", OnBegin = "onSearchBegin" }))
{
    <div class="search-box">
        <button type="submit" class="icon search">@Resources.Search</button>
        <div class="search-field">
            <input type="text" id="id" name="id" />
        </div>
    </div>
}
<div id="details-section">
    <div id="activity-indicator">
        <img alt="@Resources.Loading" src="@Url.Content("~/Content/images/loading-bar.gif")" />
    </div>
    <div id="search-results">
        @Html.Partial("_Index", Model)
    </div>
</div>