@using Business.Essentials
@using Business.Essentials.Model
@using Business.Essentials.WebApp.Helpers
@using Business.Essentials.WebApp.Models
@model CashSession

@{
    ViewBag.Title = Resources.Title_CustomerPayment;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.CustomerPayments);
}

<h2>@Resources.DisplayName_CustomerPayments</h2>

@Html.Partial("_OpenSession", Model)
