@using Mictlanix.BE
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Models
@model SalesOrder

@{
    ViewBag.Title = Resources.Payment;
}

<h2>@Resources.Payment</h2> 

<div id="pay-order">
@Html.Partial("_DisplayView")
</div>

<div id="detais-order">
	@Html.Partial("_DetailsView")
</div>