/*----------------------------------------------------------
CSS from ASP.NET MVC 3 template (Site.css)
----------------------------------------------------------*/
header,
footer,
nav,
section {
    display: block;
}
#main {
    padding: 30px 30px 15px 30px;
    background: white;
    -moz-box-shadow: 0 0 6px #a6a6a6;
    -webkit-box-shadow: 0 0 6px #a6a6a6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
}
footer, 
#footer {
    
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}
.clear {
    clear:both;
}
.error {
    color:red;
}
.field-validation-error {
    color: #ff0000;
}
.field-validation-valid {
    display: none;
}
.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}
.validation-summary-errors {
    font-weight:bold;
    color: #ff0000;
}
.validation-summary-valid {
    display: none;
}
.display-label label,.editor-label label,
.display-field label,.editor-field label {
    display:inline;
}
.display-label, .editor-label {
    margin: 1em 0 0 0;
}
.display-field, .editor-field {
  margin:1em 0 0 0;
  min-height:18px;
}
/*--------------------------------------------------------*/
body {
    background:transparent url(images/body-bg.png);

}
p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}
h1, h2, h3 {
    font-size: 1.5em;
    color: #000;
}
h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2 {
    font:normal 20px Arial,sans-serif;
    line-height:30px;
    color:#DD4B39;
    padding: 0 0 10px 0;
}
h3 {
    font-size: 1.2em;
}
img {
  border:none;
}
a:link,a:visited,a:active {
    /*color:#36C;*/
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
textarea.text-box {
  width:100%;
}
#container {
  background:transparent url(images/header-bg.png) repeat-x left -30px;
}
header, #header {
  position: relative;
  margin:0 auto;
  padding:1px 0;
  width:95%;
}
header h1, #header h1 {
  font-weight: bold;
  padding: 5px 0;
  margin: 0;
  color: #fff;
  border: none;
  line-height: 2em;
  font-size: 32px !important;
  text-shadow: 1px 1px 2px #111;
  margin-top:45px;
  color:#205aaf;
}
div#title {
  display:block;
}
div#logo {
  display:block;
  margin-top:14px;
  float:right;
}
.page {
  min-width:900px;
  margin:10px 20px;
}
.hidden {
  display:none;
}
.date,.bool,.number,.currency {
  white-space:nowrap;
  width:1px;
  text-align:center;
}
.left {
  text-align:left;
}
.right,.number,.currency,input.number,input.currency  {
  text-align:right;
}
.editable-popup.right {
  text-align:left;
}
.center {
  text-align:center;
}
.nowrap {
  white-space:nowrap;
}
.left.floating {
  float:left;
  clear:left;
}
.right.floating {
  float:right;
  clear:right;
}
a.small img,img.small {
    max-width:80px;
    max-height:80px;
}
a.medium img,img.medium {
    max-width:200px;
    max-height:200px;
}
p.multiline {
    margin:0;
    width:700px;
    word-wrap:break-word;
}
fieldset {
  border:1px solid #ddd;
  padding:0 1.4em 1em 1.4em;
  margin:0 0 1.5em 0;
}
legend {
  font-size:1.2em;
  font-weight:bold;
  border:0;
  width:auto;
  padding:0 2px;
  margin-bottom:0px;
}
label {
  color:#888;
  font-size:15px;
  font-weight:normal;
  line-height:1.2em;
}
.text-box {
  width:30em;
}
.text-box.multi-line {
  height:4em;
}
input[type="text"], 
input[type="password"] {
  border:1px solid #ccc;
  color:#444;
}
input[type="text"].date {
  width:120px;
}
input[type="text"].short {
  width:80px;
}
textarea {
  min-height:4em;
}
select {
  border: 1px solid #ccc;
  padding: 2px;
  font-size: 1.2em;
  color: #444;
}
table {
    width:100%;
    border:1px solid #DEDEDE;
    border-collapse:collapse;
}
table td {
    padding:0 4px;
    border:solid 1px #e8eef4;
}
table th {
  padding:4px 8px;
  font-weight:normal;
  text-align:center;
  color:#DD4B39;
}
table.noborder, table.noborder td {
  border:none;
}
th label {
  color:#DD4B39;
}
td.actions {
  white-space:nowrap;
  width:1px;
}
td.fill {
  width:100%;
}
td.stretch, th.stretch {
  width:1px;
  padding:0;
}
ul.list-items {
  margin:0;
  padding-left:0px;
  list-style-type:none;
}
ul.list-items li:hover {
  background:AliceBlue;
}
ul.list-items li:first-child {
  border-top:1px solid #ddd;
}
ul.list-items li {
  padding:2px 0;
  border-bottom:1px solid #ddd;
}
ul.list-items li div.photo {
  float:left;
}
ul.list-items li div.photo img {
  display:block;
  margin:8px 5px 0 5px;
  max-width:50px;
  max-height:50px;
}
ul.list-items li div.info {
  margin:0 0 0 60px;
}
ul.list-items li div.action-link {
  float:right;
}
#sales-totals {
  width:300px;
  z-index:1;
  position:fixed;
  top:259px;
  right:40px;
}
#return-totals {
  width:300px;
  z-index:1;
  position:fixed;
  top:259px;
  right:40px;
}
#activity-indicator {
  display:none;
  padding:10px;
  text-align:center;
}
.search-box {
  display:block;
  white-space:nowrap;
  padding:1px;
}
.search-field {
  display:block;
  margin-right:110px;
}
.search-field > input[type="text"] {
  padding:6px 2px;
  width:100%;
}
.search-field .token-input-list input[type="text"] {
  padding:4px 2px;
}
.search-box button {
  display:block;
  float:right;
  clear:none;
}
ul.token-input-list {
    margin:2px 0 10px;
    font:inherit;
    border:1px solid #ccc;
}
.selection-options input[type="text"] {
    width:90px;
    font-size:13px;
    text-align:right;
}
#details-section {
    margin:1.5em 0;
}
li label {
  display:inline-block;
  margin:2px 0;
  min-width:75px;
  text-align:right;
}
li div.value {
  display:inline-block;
  margin:2px 0;
  min-width:60px;
  text-align:right;
}
li div.value.name {
  padding-left:5px;
  font-size:larger;
  font-weight:bold;
}
#master-section,#details-section {
  margin:10px 0;
}
.action-buttons {
  margin:20px 0 2px;
  clear:both;
  text-align:right;
}
table.tabular, table.tabular th, table.tabular td {
  margin:0;
  padding:0 1px;
  border:none;
  border-collapse:collapse;
  line-height:1;
}
table.tabular th {
  padding:4px 2px 0 5px;
}
table.tabular td {
  padding:2px 1px 0;
}
table.tabular th, table.tabular td {
  border-bottom:solid 1px #e8eef4;
}
table.tabular tr:last-child th, table.tabular tr:last-child td {
  border-bottom:none;
}
tr.total,td.total,span.thick {
  font-weight:bold;
}
span.thick {

}

/* Edit In Place */
.editable {
  display:inline-block;
  cursor:pointer;
}
span.editable {
  cursor:inherit;
}
.editable.price,.editable.quantity,
.editable.discount,.editable.tax {
  min-width:60px;
  text-align:right;
}
.editable.discount,.editable.tax {
  min-width:40px;
}
.editable.name {
  min-width:300px;
}
.editable.price {
  min-width:80px;
}
.editable.currency {
  min-width:auto;
  width:auto;
}
.editable.code,.editable.um {
  min-width:100px;
}
.vspaced {
  margin:20px 0 2px;
}

/* Bootstrap styles */
.nav-tabs {
  margin-bottom: 0;
}
.tab-pane {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: 0;
}
.tabs-below .tab-pane {
  border: 1px solid #ddd;
  border-bottom: 0;
}
.input-micro {
  width: 30px;
}
[class*="span"] > input[type="text"],
[class*="span"] > select {
  width:100%;
}
[class*="span"] .ro-field {
  display:block;
  min-height:20px;
  line-height:20px;
  vertical-align:middle;
  background:#F8F8F8;
  border-radius:4px;
  padding:6px;
  font-size:1em;
  color:#444;
  width:auto;
  margin:0 0 10px;
}
.field-required label:after {
	content: ' * ';
	color:red;
}

.labeled-frames {
  margin-top: 5px;
  margin-left: 0;
  list-style: none;
  overflow: hidden; /* clear floats */
}
.labeled-frames li {
  position: relative;
  float: left;
  margin:5px 0;
  padding:29px 30px 19px;
  background-color: #fff;
  text-align:center;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.labeled-frames li + li {
  margin-left: 10px;
}
.labeled-frames li > span.caption {
  display:inline-block;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 60px;
  text-align:center;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}
.labeled-frames li > span.value {
  display:block;
  font-weight:bold;
  font-size: 1.2em;
}
.labeled-frames li > span.value.muted {
  display:block;
  font-weight:normal;
  font-size: 1em;
}
