@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY7rIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@page {
    size: Letter;
    margin: 10mm;
}
@media print {
	.media, tfoot {page-break-inside: avoid}
	a[href]:after {content: none;}
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
    font:normal 9pt 'Open Sans', sans-serif;
}
#logo {
	position:relative;
    right:auto;
	top:auto;
	margin-bottom:1mm;
}
#logo img {
	width:85mm;
}
header {
	margin-bottom:4mm;
}
h1,h2,h3,h4 {
	text-align:left;
	margin:1mm 1mm 1mm 0;
}
h1, h2 {
	font:bold 10pt 'Roboto', sans-serif;
}
h2 {
	font-size:11pt;
}
h3, h4 {
	font:normal 10pt 'Open Sans', sans-serif;
}
h4 {
	font-size:8pt;
}
p {
  margin: 0 0 5px;
}
strong {
	font-family:'Open Sans', sans-serif;
}
table {
	width:100%;
}
thead, tfoot { display: table-row-group; }
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	padding: 4px;
	line-height: 1.42857143;
	vertical-align: top;
	font:normal 10pt 'Open Sans', sans-serif;
}
table > thead > tr > th {
	border-bottom: 1px solid #333;
	font:bold 10pt 'Open Sans', sans-serif;
}
table > tfoot > tr > th, 
table > tfoot > tr > td {
	font:bold 10pt 'Open Sans', sans-serif;
}
table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
	background-color: #ECECEC !important;
}

tr.alt > td {
    border-bottom: 1px solid #333;
}

.uppercase {
	text-transform:uppercase;
}
.lowercase {
	text-transform:lowercase;
}
.capitalize {
	text-transform:capitalize;
}
.mylabel {
	padding: .1em .1em .2em;
	font-weight: bold;
	background-color: #ECECEC !important;
}
.nowrap {
	white-space:nowrap;
}
.monospaced {
	font:normal 6pt 'Roboto Mono', monospace;
}
.pre-wrapped {
	white-space:pre-wrap;
}
td .pre-wrapped {
	margin: 0 1cm;
	text-align: left;
	color:#777 !important;
}
p.amount-words {
	margin: 0 .6cm 0 .6cm;
	border-top: solid black 1px;
	border-bottom:solid black 1px;
	font-size:8pt !important;
}

