@page {
    size: US-Letter;
    margin: 10mm;
}
body {
    background:white;
    color:#001;
    font:normal 10pt "Lucida Grande", Verdana, sans-serif;
    margin:0 0 0 0;
    padding:0;
    width:auto;
}
section {
    margin:1.6em 0;
}
img {
    border:none;
}
#logo {
	position:absolute;
    right:20px;
    top:20px;
}
h1,h2,h4
{
  float:inherit;
  text-align:center;
}
h3 {
  margin:4px 0;
  font-weight:bold;
}
h4 {
  font-weight:normal;
  margin:1px 0;
  font-size:smaller;
}
h4.black {
  font-weight:bold;
}
.uppercase {
  text-transform:uppercase;
}
.lowercase {
  text-transform:lowercase;
}
.capitalize {
  text-transform:capitalize;
}
.date,.bool,.number,.nowrap {
  white-space:nowrap;
  width:1px;
  text-align:center;
}
.left {
  text-align:left;
}
.right {
  text-align:right;
}
.center {
  text-align:center;
}
.right,.number,input.number  {
  text-align:right;
  padding-right:5px;
}
.left.floating {
  float:left;
  clear:left;
}
.right.floating {
  float:right;
  clear:right;
}
.total {
  font-weight:bold;
}
table {
	clear:both;
    margin:10px 0;
    width:100%;
    border-collapse:collapse;
}
table.height {
    height:50px;
}
td.line {
    border-bottom:1px solid black;
}
td.line-top {
    border-top:1px solid gray;
}
td.border{
    border-right: 1px solid gray;
}
td.title {
    font-size:13px;
    font-weight:bold;
}
th {
    padding:0 3px;
    font-size:13px;
    font-weight:bold;
}
th.line {
    border-bottom:1px solid gray; 
}
th.border{
    border-right: 1px solid gray;
}
.display-label {
    margin-top:5px;
}
.display-field {
    margin-bottom:5px;
}
.signatures {
    margin:5em 0;
}
#digital-signature {
  margin-top:20px;
  padding:2px;
  font-family:"Lucida Console", Monaco, monospace;
  font-size:8px;
  background:silver;
  word-wrap:break-word;
  border:dashed 1px #3c3c3c;
}
.hilite {
	font-weight:bold;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.uppercase {
  text-transform:uppercase;
}
.pre-wrapped {
  white-space:pre-wrap;
  margin:2px;
  font-size:smaller;
}
