@using Business.Essentials
@using Business.Essentials.Model
@using Business.Essentials.WebApp.Helpers
@model IEnumerable<Taxpayer>

@{
    ViewBag.Title = Resources.Title_Taxpayer;
    var CurrentUser = Html.CurrentUser() ?? new User();
    var Privilege = Html.GetPrivilege(CurrentUser, SystemObjects.Taxpayers);
}

<h2>@Resources.DisplayName_Taxpayers</h2>

<p>
@if(Privilege.AllowCreate)
{
    @Html.ActionLink(Resources.CreateNew, "Create", new { }, new { @class = "button icon add" })
}
</p>
@Html.Partial("_Index")