@using Business.Essentials
@using Business.Essentials.Model
@using Business.Essentials.WebApp.Helpers
@using Business.Essentials.WebApp.Models
@model IEnumerable<SalesOrder>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "search-results", LoadingElementId = "activity-indicator", OnBegin = "onSearchBegin" }))
{
    <div class="search-box">
        <button type="submit" class="icon search">@Resources.Search</button>
        <div class="search-field">
            <input type="text" id="id" name="id" />
        </div>
    </div>
}
<div id="details-container">
    <div id="activity-indicator">
        <img alt="@Resources.Loading" src="@Url.Content("~/Content/images/loading-bar.gif")" />
    </div>
    <div id="search-results">
        @Html.Partial("_Index", Model)
    </div>
</div>
<script type="text/javascript">
    function onSearchBegin() {
        $("#search-results").html(null);
    }
</script>