@using Business.Essentials

@{
    ViewBag.Title = Resources.InvalidCashDrawer;
}

<h2>@Resources.InvalidCashDrawer</h2>
<p>@Resources.Message_InvalidCashDrawer</p>
<p>@Html.ActionLink(Resources.BackToList, "Index", new { }, new { @class = "button icon back" })</p>