@using Mictlanix.BE
@using Mictlanix.BE.Model
@using Mictlanix.BE.Web.Helpers
@using Mictlanix.BE.Web.Models
@model Search<LotSerialRequirement>
<div class="page-header">
    <h1>@Resources.LotSerialNumbers</h1>
</div>
<div id='activity-indicator'>
    <img alt='@Resources.Loading' src='@Url.Content("~/Content/images/loading-bar.gif")' />
</div>
<div id='search-results'>
    @Html.Partial("_LotSerialNumbers")
</div>