.buttons {
    padding:20px 0;
    clear: both;
}
button,a.button,label.button {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding:10px 12px 8px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background:#f3f3f3;
    background:-webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background:-moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border:solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 5px;
	vertical-align:top;
}
button:hover,a.button:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
button:active,a.button:active {
    color: #000;
    border-color: #444;
}
button.left,a.left,label.left {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}
button.left,a.middle,label.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-left: solid 1px #f3f3f3;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
button.middle:hover,button.right:hover,
a.middle:hover,a.right:hover,
label.middle:hover,label.right:hover { border-left: solid 1px #999 }
button.right,a.right,label.right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #f3f3f3;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
button.icon,a.button.icon {
    padding:9px 12px 7px 32px;
}
button.icon-only,a.button.icon-only {
    padding:16px 16px;
}
button.icon.add,a.button.icon.add {
    background:url(icons/add-item.png) no-repeat;
}
button.icon.edit,a.button.icon.edit {
    background:url(icons/edit.png) no-repeat;
}
button.icon.save,a.button.icon.save {
    background:url(icons/save.png) no-repeat;
}
button.icon.delete,a.button.icon.delete {
    background:url(icons/recycle-full.png) no-repeat;
}
button.icon.search,a.button.icon.search {
    background:url(icons/search.png) no-repeat;
}
button.icon.cancel,a.button.icon.cancel {
    background:url(icons/delete-item.png) no-repeat;
}
button.icon.view,a.button.icon.view {
    background:url(icons/view-item.png) no-repeat;
}
button.icon.back,a.button.icon.back {
    background:url(icons/home.png) no-repeat;
}
button.icon.register,a.button.icon.register {
    background:url(icons/agent.png) no-repeat;
}
button.icon.logOn,a.button.icon.logOn {
    background:url(icons/ID.png) no-repeat;
}
button.icon.pay,a.button.icon.pay {
    background:url(icons/dollar.png) no-repeat;
}
button.icon.print,a.button.icon.print {
    background:url(icons/print.png) no-repeat;
}
button.icon.next,a.button.icon.next {
    background:url(icons/next-item.png) no-repeat;
}
button.icon.prev,a.button.icon.prev {
    background:url(icons/prev-item.png) no-repeat;
}