@page  
{
    size:72mm 297mm;
    margin:0 0;
}
* {
    font-family:"Lucida Grande", Verdana, sans-serif;
}
body {
    background:white;
    color:black;
    direction:ltr;
    font-size:12px;
    font-weight:bold;
    margin:0;
    padding:0;
}
footer {
    text-align:center;
}
img {
    border:none;
}
#logo {
    text-align:center;
}
h1,h2,h3 {
  text-align:center;
}
h3 {
  font-weight:normal;
  margin:0;
}
.date {
  white-space:nowrap;
}
.left {
  text-align:left;
}
.right {
  text-align:right;
}
.center {
  text-align:center;
}
.right,.number,input.number  {
  text-align:right;
  padding-right:5px;
}
.left.floating {
  float:left;
  clear:left;
}
.right.floating {
  float:right;
  clear:right;
}
.total {
  font-weight:bold;
}
table {
    margin:10px 0;
    width:100%;
    border-collapse:collapse;
}
td.line {
    border-bottom:1px solid black;
}
td.title {
    font-size:13px;
    font-weight:bold;
}
th {
    font-size:18px;
    font-weight:bold;
}
th.line {
    border-bottom:2px solid black;
}
.display-label {
    margin-top:5px;
}
.display-field {
    margin-bottom:5px;
}