<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="ApplicationTitle" value="Mictlanix BE - Company Name" />
	<add key="LogoTitle" value="Company Name" />
	<add key="LogoAlt" value="Company Branch" />
	<add key="Company" value="Mictlanix" />
	<add key="CompanyAddress" value="Mictlanix Ave. #1" />
	<add key="CompanyTaxpayer" value="MTX090516XXX" />
	<add key="PromissoryNoteContent" value="Por este PAGARÉ, yo {0} prometo incondicionalmente pagar a la orden de Mictlanix, la cantidad de {1:c} el día {2:d}. Obligándome a pagar para el caso de mora un interés equivalente al ____ mensual durante todo el tiempo que permanezca insoluto." />
    <!--<add key="DefaultCurrency" value="USD" />-->
    <add key="DefaultIssuer" value="GDA040126AT0" />
    <add key="DefaultBatch" value="A" />
    <add key="PrintLayout" value="~/Views/Shared/_LetterheadLayout.cshtml" />
</appSettings>