<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="activeRecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<appSettings file="MictlanixBE.config">
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="ApplicationTitle" value="Mictlanix BE - Company Name" />
		<add key="LogoTitle" value="Company Name" />
		<add key="Company" value="Mictlanix" />
		<add key="PromissoryNoteContent" value="Por este PAGARÉ, yo {0} prometo incondicionalmente pagar a la orden de {3}, la cantidad de {1:c} el día {2:d}. Obligándome a pagar para el caso de mora un interés equivalente al ____ mensual durante todo el tiempo que permanezca insoluto." />
		<add key="PhotosPath" value="~/Photos/" />
		<add key="DefaultPhotoFile" value="~/Content/images/na.png" />
		<add key="PageSize" value="100" />
		<add key="BaseCurrency" value="MXN" />
		<add key="DefaultCurrency" value="MXN" />
		<add key="DefaultPriceType" value="Fixed" />
		<add key="DefaultStore" value="1" />
		<add key="DefaultPointOfSale" value="1" />
		<add key="DefaultCustomer" value="1" />
		<add key="DefaultVAT" value="0.160000" />
		<add key="DefaultSender" value="noreply@mictlanix.com" />
		<add key="DefaultEmailCC" value="" />
		<add key="DefaultQuotationDueDays" value="30" />
		<add key="DefaultCfdiUsage" value="G01" />
		<add key="IsTaxIncluded" value="true" />
		<add key="LogFilePattern" value="~/Log/{0}-{1:yyyyMMdd-HHmmss}.log" />
		<add key="ProFactUrl" value="https://cfdi33-pruebas.buzoncfdi.mx:1443/Timbrado.asmx" />
		<add key="ProFactUrlV32" value="https://www.timbracfdipruebas.mx/serviciointegracionpruebas/Timbrado.asmx" />
		<add key="ProFactUser" value="mvpNUXmQfK8=" />
		<add key="ProFactCode" value="MBE" />
		<add key="DFactureUrl" value="http://timbradosoap33.testdfacture.com/WSTimbradoSOAP.svc" />
		<add key="DFactureUser" value="DEMODaysoft" />
		<add key="DFacturePassword" value="cfdi" />
		<add key="MainLayout" value="~/Views/Shared/_Layout.cshtml" />
		<add key="PrintLayout" value="~/Views/Shared/_PrintLayout.cshtml" />
		<add key="ReceiptLayout" value="~/Views/Shared/_TicketLayout.cshtml" />
		<add key="AppServerUrl" value="http://localhost:8080" />
		<add key="ReportServerUrl" value="http://localhost:3000" />
		<add key="SmtpServer" value="localhost" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpSsl" value="false" />
		<add key="SmtpUser" value="" />
		<add key="SmtpPassword" value="" />
		<add key="CashierPaymentOptions" value="Cash,Check,ElectronicPurse" />
		<add key="DeliveryOrderTemplate" value="DeliveryFormat" />
		<add key="DeliveryOrderTicket" value="DeliveryTicket" />
		<add key="DeliveryOrdersUseMiniPrinter" value="false" />
		<add key="ShowSalesOrdersFromAllStores" value="false" />
		<add key="ModificationPaymentsDays" value="5" />
	</appSettings>
	<location path="Content">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Scripts">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Account">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Barcodes">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="FiscalDocuments">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.web>
		<customErrors mode="Off" />
		<globalization uiCulture="es" culture="es-MX" requestEncoding="utf-8" responseEncoding="utf-8" />
		<httpRuntime requestPathInvalidCharacters="" maxRequestLength="25600" executionTimeout="600" />
		<compilation defaultLanguage="C#" debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="1440" requireSSL="false" slidingExpiration="true" />
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="26214400" />
			</requestFiltering>
		</security>
	</system.webServer>
	<activeRecord isWeb="true">
		<config>
			<add key="connection.driver_class" value="NHibernate.Driver.MySqlDataDriver" />
			<add key="dialect" value="NHibernate.Dialect.MySQL5Dialect" />
			<add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
			<add key="connection.connection_string" value="Data Source=localhost;Database=mbe_q13;User Id=developer;Password=123456;Allow Zero Datetime=True;default command timeout=300;" />
			<add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
		</config>
	</activeRecord>
	<log4net debug="false">
		<appender name="WindowsDebugOutput" type="log4net.Appender.DebugAppender,log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
			</layout>
		</appender>
		<appender name="ConsoleOutput" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
			</layout>
		</appender>
		<appender name="RollingFileOutput" type="log4net.Appender.RollingFileAppender">
			<file value="log4net-output.log" />
			<appendToFile value="true" />
			<maximumFileSize value="100KB" />
			<maxSizeRollBackups value="2" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
			</layout>
		</appender>
		<logger name="NHibernate.SQL" additivity="false">
			<level value="DEBUG" />
			<appender-ref ref="ConsoleOutput" />
			<appender-ref ref="WindowsDebugOutput" />
		</logger>
	</log4net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.3.42154" newVersion="3.1.3.42154" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.15.6.0" newVersion="3.15.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>